* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background: #1e252b;
}

h1,
h2,
h3,
h4,
h5,
h6,
input {
  font-family: inherit;
  font-weight: inherit;
}

img {
  width: 100%;
  height: 100%;
}

a {
  cursor: pointer;
}

address {
  font-style: normal;
}

/* original container for a full webpage */
.full-container {
  width: min(100%, 1470px);
  height: 100%;
  padding-inline: 15px;
  margin-inline: auto;
}

/* container for a webpage with margin of 108px from left and right compared to original container */
.container {
  width: min(100%, 1254px);
  height: 100%;
  padding-inline: 15px;
  margin-inline: auto;
}
