.cards {
  margin-bottom: 250px;
}

.cards__wrap {
  display: flex;
  flex-direction: column;
  gap: 70px;
  padding: 0 16px;
}

.cards__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.cards__content-link-left,
.cards__content-link-right {
  display: flex;
}

.cards__content-link-left-icon path,
.cards__content-link-right-icon path {
  transition: 0.3s;
}

.cards__content-link-left-icon:hover.cards__content-link-left-icon path {
  stroke: #ff6e30;
  stroke-opacity: 0.7;
}

.cards__content-link-right-icon:hover.cards__content-link-right-icon path {
  stroke: #ff6e30;
  stroke-opacity: 0.7;
}

.cards__content-link-right-icon-rotated {
  transform: rotate(180deg);
}

.cards__content-slider {
  display: flex;
  overflow-x: auto;
}

.cards__content-slider::-webkit-scrollbar {
  display: none;
}

.cards__content-main {
  display: none;
  gap: 15px;
  justify-content: center;
}

.cards__content-main.show {
  display: flex;
  animation: slide-left 0.5s;
}

@keyframes slide-left {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cards__content-main-profile {
  width: min(100%, 392px);
  position: relative;
  cursor: pointer;
}

.cards__content-main-profile-pic {
  position: relative;
}

.cards__content-main-profile-pic-img {
  border-radius: 50%;
}

.cards__content-main-profile-pic-bg {
  width: min(100%, 392px);
  max-height: 392px;
  height: 100%;
  background: #21282e;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  left: 0;
  z-index: -1;
}

.cards__content-main-profile-desc {
  width: min(100%, 265px);
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 10px 21px 16px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(40, 48, 54, 0.2);
  backdrop-filter: blur(25px);
  position: absolute;
  bottom: 29px;
  right: 4px;
}

.cards__content-main-profile-desc-title {
  color: rgba(255, 253, 253, 0.78);
  font-size: 26px;
  letter-spacing: 0.39px;
}

.cards__content-main-profile-desc-text {
  color: rgba(255, 253, 253, 0.55);
  font-weight: 400;
}

.cards__content-main-quote {
  width: min(100%, 496px);
  position: relative;
  margin-top: 128px;
}

.cards__content-main-quote-img {
  max-width: 101px;
  max-height: 97px;
}

.cards__content-main-quote-text {
  width: min(100%, 393px);
  color: rgba(255, 255, 255, 0.78);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.21px;
}

.cards__content-main-quote-img {
  position: absolute;
  top: -50px;
  left: -50px;
}

.cards__switch {
  width: min(100%, 168px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 10px;
}

.cards__switch-btn {
  width: min(100%, 50px);
  height: 8px;
  border-radius: 5px;
  background: rgba(40, 48, 54, 1);
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.cards__switch-btn:hover {
  background: #ff6e30;
}

@media screen and (max-width: 768px) {
  .cards__content-main {
    flex-direction: column;
  }

  .cards__content-main-quote {
    margin-top: 70px;
  }
}

@media screen and (max-width: 576px) {
  .cards__content-main-profile-pic-bg {
    top: 0;
  }

  .cards__content-main-profile-desc-title {
    font-size: 20px;
  }

  .cards__content-main-profile-desc {
    max-width: 195px;
    padding: 5px 10px 8px;
  }
}

@media screen and (max-width: 480px) {
  .cards__content-main-profile-desc-title {
    font-size: 15px;
  }

  .cards__content-main-profile-desc-text {
    font-size: 10px;
  }

  .cards__content-main-profile-desc {
    max-width: 160px;
    padding: 5px 10px 8px;
  }
}
