.header {
  padding: 26px 0;
  background: #1E252B;
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.header__logo {
  display: flex;
}

.header__btn {
  width: 60px;
  height: 53px;
  padding: 0 10px;
  background: transparent;
  border: none;
  display: none;
}

.header__btn span {
  width: 100%;
  height: 4px;
  background: rgba(255, 255, 255, 0.55);
  display: flex;
  position: relative;
}

.header__btn span::before,
.header__btn span::after {
  width: 100%;
  height: 100%;
  position: absolute;
  content: '';
  background: rgba(255, 255, 255, 0.55);
}

.header__btn span::before {
  top: 8px;
}

.header__btn span::after {
  bottom: 8px;
}

.header__menu {
  display: flex;
  gap: 0 15px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.header__menu-item-link,
.header__menu-item:nth-child(2) {
  color: rgba(255, 255, 255, 0.55);
  transition: 0.3s;
}

.header__menu-item-link:hover,
.header__menu-item:nth-child(2):hover {
  color: #ff6e30;
}

.header__menu-item:nth-child(2) {
  display: flex;
  gap: 3px;
  align-items: center;
  cursor: pointer;
  position: relative;
  top: 10px;
  padding-bottom: 20px;
}

.header__menu-item:nth-child(2):hover .header__menu-item-dropdown {
  display: block;
  transform: translateY(0);
}

.header__menu-item:nth-child(2):hover .header__menu-item-icon-svg {
  stroke: #ff6e30;
}

.header__menu-item-dropdown {
  max-width: 100px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -100px;
  display: none;
  transform: translateY(100%);
  transition: 0.3s;
  background: #1E252B;
}

.header__menu-item-dropdown-item {
  width: 100%;
  transition: 0.5s;
  padding: 5px;
}

.header__menu-item-dropdown-item-link {
  color: rgba(255, 255, 255, 0.55);
}

.header__menu-item-dropdown-item-link:hover {
  color: #ff6e30;
}

.header__login {
  display: flex;
  align-items: center;
}

.header__login-link {
  color: rgba(255, 255, 255, 0.78);
  font-weight: 600;
  transition: 0.3s;
  padding: 12px 28px;
}

.header__login-link:hover {
  border-radius: 8px;
  background: #ff6e30;
  color: #fdf5ff;
}

@media screen and (max-width: 992px) {
  .header__menu {
    display: none;
  }

  .header__btn {
    display: flex;
    align-items: center;
    order: 1;
  }
}

@media screen and (max-width: 480px) {
  .header__login-link {
    text-align: center;
    padding: 6px 3px;
  }
}

@media screen and (max-width: 390px) {
  .header__btn {
    width: 45px;
  }
}
