.nTools {
  margin-bottom: 200px;
}

.nTools__wrap {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}

.nTools__desc {
  width: min(100%, 401px);
  display: flex;
  flex-direction: column;
}

.nTools__desc-title {
  color: rgba(255, 255, 255, 0.9);
  font-size: 48px;
  line-height: 130%;
  margin: 20px 0 30px;
}

.nTools__desc-text {
  color: rgba(255, 255, 255, 0.55);
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 60px;
}

.nTools__desc-link {
  width: min(100%, 198px);
  padding: 16px 40px;
  color: #fff;
  font-size: 18px;
  border-radius: 8px;
  background: #ff6e30;
  transition: 0.3s;
}

.nTools__desc-link:hover {
  color: #ff6e30;
  background: #fff;
}

.nTools__cards {
  width: min(100%, 600px);
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.nTools__cards-card {
  width: min(100%, 288px);
  padding: 28px 21px;
  border-radius: 15px;
  background: #1e252b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
  transform: translateX(-200px);
}

.nTools__cards-card:hover {
  background: rgba(40, 48, 54, 0.6);
  backdrop-filter: blur(25px);
}

.nTools__cards-card.active {
  opacity: 1;
  transform: translateX(0);
}

.nTools__cards-card-product {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 30px;
}

.nTools__cards-card-product-img {
  max-width: 64px;
  max-height: 64px;
}

.nTools__cards-card-product-desc {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.nTools__cards-card-product-desc-title {
  color: rgba(255, 255, 255, 0.78);
  font-size: 24px;
}

.nTools__cards-card-product-desc-text {
  color: rgba(255, 165, 55, 0.55);
  font-size: 18px;
  font-weight: 400;
}

.nTools__cards-card-text {
  color: rgba(255, 255, 255, 0.55);
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
}

.nTools__cards-card-interact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nTools__cards-card-interact-icons {
  display: flex;
  gap: 25px;
  align-items: center;
}

.nTools__cards-card-interact-link {
  color: rgba(255, 255, 255, 0.55);
  font-weight: 600;
  padding: 9px 35px;
  border-radius: 8px;
  background: #1e252b;
}

.nTools__cards-card:hover .nTools__cards-card-interact-link {
  background: rgba(255, 110, 48, 1);
  color: #fff;
}

.nTools__cards-card:hover.nTools__cards-card-interact-icons-icon1-svg {
  fill: #FD3B41;
  fill-opacity: 1;
}

.nTools__light {
  opacity: 0;
  position: absolute;
  top: -30px;
  right: -30px;
  width: 65px;
  height: 65px;
  background: rgba(255, 110, 48, 0.4);
  filter: blur(25px);
}

.nTools__cards-card:hover .nTools__light {
  opacity: 1;
}

@media screen and (max-width: 1061px) {
  .nTools__wrap {
    flex-direction: column;

  }
}

@media screen and (max-width: 768px) {
  .nTools__desc-title {
    font-size: 30px;
  }
}